body {
    margin: 0;
    background: #f5f5f5;
    font-family: Arial;
}

header {
    background: #283593;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

header input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.book {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.book img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background: #283593;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
