* {
    margin: 0;
}
body {
    background-image: url(../img/maxresdefault.jpg);
    background-size: cover;        
    background-repeat: no-repeat;  
    background-position: center;   
    background-attachment: fixed; 
}

section {
    display: flex;
    gap: 40px;
    margin-left: 30px;
}
p {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
.app {
    transition: 0.4s;
    text-decoration: none;
}
.app:hover {
    background-color: gray;
    height: 125px;
    border-radius: 20px;
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(64, 64, 65, 0.771);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal:target {
    display: flex;
}

.contenido {
    background: rgba(255, 255, 255, 0.916);
    padding: 15px;
    border-radius: 10px;
    width: 90%;
    max-width: 1000px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.contenido iframe {
    width: 100%;
    height: 550px;
    border: none;
}

.cerrar {
    display: block;
    text-align: right;
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}
@media (max-width: 600px){
    section {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
        margin-left: 30px;
    }

    .app {
    
    height: 125px;
    width: 80px;
    border-radius: 20px;
    }
    .app:hover {
       background-color: gray; 
    }

}
    

