* {
    margin: 0;
}
body {
    background-image: url(../img/maxresdefault.jpg);
}


section {
    display: flex;
    gap: 40px;
    margin-left: 30px;
}
p {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
.app {
    transition: 0.4s;
    text-decoration: none;
}
.app:hover {
    background-color: gray;
    height: 125px;
    border-radius: 20px;
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal:target {
    display: flex;
}

.contenido {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.contenido iframe {
    width: 100%;
    height: 400px;
    border: none;
}

.cerrar {
    display: block;
    text-align: right;
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}
