* {
    margin: 0;
}
.icons {
    display: flex;
    gap: 60px;
    background-color: rgba(91, 85, 85, 0.512);
}
.icons img {
    height:90px ;
    width: 90px;
}
.icons a {
    text-decoration: none;
    color: white;
    margin-top:40px;
}
body {
    background-color: black;
}
.ParaTi {
    color: white;
    margin-top: 20px;
}
.musica {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
article img {
    width:150px ;
    height:200px ;
}